.style-guide-footer {

	
	.style-guide-footer__link__direction {
		font-weight: 600;
		font-size: .85em;
		font-style: italic;
		color: #808184;
	}

	.style-guide-footer__link--left {
		float: left;
	}

	.style-guide-footer__link--right {
		float: right;
		text-align: right;
	}

	.title {
		color: #00bccd;
		font-size: 1.12em;
	}
}