.style-guide-table {
	border-collapse: inherit;
	font-size: .875em;
	thead { border-bottom: 1px dashed #666666; }
	th {
		font-style: italic;
	}

	thead tr th, 
	tbody tr td {
		/*font-style: italic;*/
		background-color: #FFF;
		color:#333;
		width: 50%;
		font-size: 1em;
		line-height: 1.4em;
		border-bottom: 1px dashed #666666;
		position: relative;
		padding: 10px 0 10px 0;
	}

	table tbody tr {
		border-bottom: none;
	}

	tr td:nth-child(1){
	    color: #b2413c;
	    div:nth-child(1) { width: 80%; }
	}

	&.style-guide-table--3-column {
		tr td:nth-child(2) {
			color: #b2413c;
			div:nth-child(1) { width: 80%; }
		}
		tr td:nth-child(1) {
			color: #333;
		}
		th, 
		tbody tr td {
			width: 33%;
		}
	}

	.style-guide-table__arrow {
		position: absolute;
		top: 11px;
		font-weight: bold;
		color: #a1d8db;
		font-size: 25px;
		font-style: normal;
		right: 10px;
	}
	.style-guide-table__arrow:before {
		content: '→';
	}
}

@media screen and (max-width: 600px) {
	.style-guide-table {
		table, tbody,
		tr, td, th {
			display: block;
			width: 100%;
			position: relative;
		}
		thead { display: none; }
		
		tbody tr {
			border: none;
			border-bottom: none;
			margin-bottom: 0;
		}

		&.style-guide-table--3-column tbody tr td,
		  tbody tr td{
			width: 100%;
			padding: 5% 0;
		}

		tbody td div {
			display: inline-block;
			width: 80%;
			vertical-align: top;
		}

		tbody td:before {
			font-weight: bold;
			content: attr(data-header-text);
			display: block;
			float:left;
			position: static;
			top: 0;
			left: 0;
			width: 18%;
			padding: 0;
		}

		.style-guide-table tr td:nth-child(1) div:nth-child(1) {
			width: 100%;
		}

		.style-guide-table__arrow {
			display: none;
		}
	}
}